body {
    background-color: blue;
}

#sketch-area {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    margin: 50px auto;
}

.cell {
    border: 0px solid blue;
}


#button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#button {
    background-color: purple;
    padding: 12px;
    margin: 12px;
    color: white;
}

#button-value {
    color: white;
    background-color: rgb(192, 7, 192);
    padding: 12px;
    border-radius: 30px;
}