* {
    margin: 0;
    padding: 0;
}

body {
    background-color: blue;
}

#sketch-area {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    margin: 50px auto;
    box-shadow: 10px 10px rgb(0, 170, 255, 0.034);
}

.cell {
    border: 1px solid whitesmoke;
}


#button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#button {
    background-color: purple;
    color: white;
    padding: 12px;
    margin: 24px;
}